@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
  background-color: v.$rosa;
  padding: 5rem 0;

  h3, p {
    text-align: center;
    color: v.$blanco;    
  }
  .dia, .dia2 {
    text-transform: uppercase;
    margin: 4.5rem 0;
    font-weight: bold;
  }
  .dia2 {
    margin-top: 5.5rem;
    
    @include m.desktop {
      margin-top: 6.5rem;      
    }
  }
}

.escenarios-contenedor {
  @include m.desktop {
    @include m.grid(2, 3rem);
  }
  p {
    color: v.$negro;    
  }  
}

.escenario {
  padding-top: 1rem;

  margin-top: 3rem;

  @include m.desktop {
    margin-top: 0;
  }
  
  .nombre-escenario {
    &:after { // Es un pseudo elemento
      content: ''; // Siempre que hay un pseudo elemento debe ir un content de esta manera
      display: block;
      width: 20rem;
      height: 10rem;
      background-size: 15rem;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 1rem auto 0 auto;      
    }
  }
}   

.edm .nombre-escenario:after {
  background-image: url(../img/icono_edm.png);
}

.rock .nombre-escenario:after {
  background-image: url(../img/icono_rock.png);
}

.calendario {
  @include m.resetear-lista;
  li {
    padding: 2rem;
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }
}

.bg-amarillo {
  background-color: v.$amarillo;

  li:nth-child(odd){ // Con odd selecciono impares
    background-color: darken(v.$amarillo, 15%); //Para oscurecer el color
  }  
}
.bg-verde {
  background-color: v.$verde;
  li:nth-child(odd){ // Con odd selecciono impares
    background-color: darken(v.$verde, 10%); // Para oscurecer el color
  }
}